<a class="score-chip" href="${properties.matchHref}">
    <span class="tag-line">FT</span>
    <span class="line">
        <span class="club"><img src="${properties.base}/assets/crests/${properties.homeSlug}.svg" alt=""/>${properties.homeShort}</span>
        <span class="pts">${properties.homeGoals}</span>
    </span>
    <span class="line">
        <span class="club"><img src="${properties.base}/assets/crests/${properties.awaySlug}.svg" alt=""/>${properties.awayShort}</span>
        <span class="pts">${properties.awayGoals}</span>
    </span>
</a>
